/** RESET **/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
ol, ul { list-style: none; }
blockquote, q { quotes: none; }

/* tables still need 'cellspacing="0"' in the markup */

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** END RESET **/

body
{
	-webkit-font-smoothing: antialiased;
	font-family: 'Open Sans', sans-serif;
	color: #000;
	line-height: 1.5;
	font-size: 75%;
	text-align: left;
	font-weight: normal;

}
@font-face { font-family: bellbottom; src: url(belbott0.ttf);}
h1 { font-family: bellbottom; text-align: left; font-size: 3em; color:#6AAB77; line-height: 100%; margin: 0; text-shadow: 1px 1px 1px #676767; font-weight: normal; }
h2 { padding: 0 0 10px 0; font-size: 2em; color: #676767; text-align: left; font-weight: normal;   }
h3 { padding: 0; margin-bottom: 2px; font-size: 2em; color:#6AAB77; font-weight: bold; text-align: left;}
p { padding-bottom: 10px; color: #212121; font-size: 1.4em; }
a { color: #6AAB77; text-decoration: none; font-weight: bold;}
h1 a { text-decoration: none; color: #fff; }

#header {
	min-width: 1090px;
	height: 130px;
	margin: 0px auto 0px;
	padding: 10px 0 0 0;
	background: #6AAB77;
	text-align: right;
	opacity: 0.9;
}

    #header_text { 
        width: 1090px; 
        height:100% ; 
        margin: 0 auto; 
        padding: 0 0 0 0; 
        position: relative;
    }
    #header_text h1 { font-size: 6em; color: #fff; padding: 10px 0 0 0; margin: 0;}
    #header_text h2 { color: #fff; }
    #header_text img {float: left; margin:  0 10px 0 0;}

        #social_icons {width: 140px; height: 48px; position: absolute; bottom: 0; right: 0; float: right; }
        #social_icons a { position: relative; top: 0;}

#wrapper {
	width: 1090px;
	height: 100% ;
	margin: 0 auto;
    position: relative;
}


/** NAVIGATION **/

#navbar {width: 1070px; padding: 10px 0 20px 0;  border-bottom: 1px solid #999999; margin: 0 auto 20px;}

/**DROP-DOWN MENU SYSTEM**/

#headermenusystem {height: 30px; width:; padding: 0 0 0 0; text-align: right; margin: 0 0 5px 0; }
#headermenusystem a:hover {text-decoration: none;}
#headermenusystem .titles {float: left;  text-align: right; }
#headermenusystem .titles a {font-size:2.6em; font-weight: normal; color:#888888; display: block;  padding: 0 50px 0 50px; margin: 0;}
#headermenusystem .titles:hover { background: #333;  }
#headermenusystem .titles:hover a { color:#fff; }
#headermenusystem .titles a.menu_item,
#headermenusystem .titles .menu_item_last {
    background: #333; 
    opacity: 0.9; 
    font-size:1.8em; 
    color: #fff; 
    font-weight: normal;  
    padding: 6px 7px 6px 52px; 
    width: 170px; 
}
#headermenusystem .titles a.menu_item { border-bottom: 1px dashed #afd2ce; }
#headermenusystem .titles a.menu_item:hover,
#headermenusystem .titles a.menu_item_last:hover { color: #fff; background: #000; }


.dropmenus {
	display: none;
	position: absolute;
	top: 100px;
	color: #000;
	z-index:9;
	padding: 0 ;
	border-top:none;
}

.dropmenus a {
	display: block;
	margin: 0 ;
	padding: 10px 0px 10px 10px;
	font-size: 14px;
	text-decoration:none;
	color: #000;
	text-align: left;
	
}
#dropmenu1{ top: 55px; left: 27 0px; }
#dropmenu2{ top: 55px; left: 67 0px; }

/** END DROP-DOWN MENU SYSTEM**/

/** END NAVIGATION  **/


/** CONTENT **/

#content
{
	height: 100%;
	width: 1070px;
	margin: 0 auto;
    position: relative;

}

#clear_bar { float: right; height: 10px; width: 100%; background: transparent; margin: 0 0 0 0;}

#column_l {width: 600px; height: 100%;  display: inline-block; margin: 0 0 8px 0; padding: 0 0 0 0; float: left; }
#column_r {width: 455px;  display: inline-block; margin: 0 0 8px 10px; padding: 0 0 0 5px; float: left; }
#text_centre {width: 1065px; height: 100%; min-height: 300px; padding: 0 5px 20px 0; margin: 0 0 0 0;}


/**Product Page Module**/

#product_module {border-bottom: 1px solid #999999; margin-bottom: 20px; }
.product_column {height: 734px; position: relative;}
#product_blurb {height: 480px; overflow:scroll;}
#price {position: absolute; bottom: 0; left:0; height: ; padding-left: 5px;}

/**End Product Page Module**/

/**Bio_Module**/

#text_module {border-bottom: 1px solid #999999; padding: 0 0 10px 0; margin-bottom: 20px; }

/**End of bloggy_module**/

/** Slider **/
#slider {
	background: transparent;
	width: 1070px;
	height: 500px;
	margin: 0px auto 20px;
	position: relative;
}

#slider li {
	width: 1070px;
	height: 500px;
}
#slider li.slide1 {background: url(../images/vegpedalsfaded2.jpg) no-repeat;}

/** Wordpress **/

.wp_date { font-style: italic; }
.wp_title { font-weight: bold; color: #555555; text-transform:uppercase; padding: 0;}
.wp_arch_date { display:inline; font-style: italic; }
.wp_arch_title { display: inline; font-weight: bold; color: #555555; text-transform:uppercase; padding: 0;}
.wp-caption-text { font-size: 1.4em; font-style: italic; font-family: 'Open Sans', sans-serif;}
#wp_border {border-bottom: 1px solid #DBDBDB; margin: 10px 0 20px 0;}


/**product gallery**/

		#gallery {overflow: auto; min-height: 470px;}
		.thumbs {width: 200px; float: left; }
		#feature {width: 590px; float:right; margin: 0 10px 10px 10px;}
		#feature img {border: 4px solid #ccc;}
		.thumb{border: 4px solid #ccc; margin: 4px; width: 100px;}
        .thumb:hover {cursor:-moz-zoom-in; cursor:-webkit-zoom-in;}
		footer p{text-align: center}

/** Block Slider Module**/
#block_module {border-bottom: 1px solid #999999; margin-bottom: 20px;}
#block_module a:hover {text-decoration: none;}

#blockwindow { background:; width: 1070px; height: 315px ;  float: left; display: inline-block; position: relative; margin: 0 0 20px 0; overflow: hidden; }

#blockholder { height: 313px; background: ; position: absolute; top: 0; left: 0; margin: 0 auto 20px; padding: 0; overflow: ; float:left; }
#blocks {
	height: 313px;
	display: inline-block;
	padding: 10px 0 0 0;
	float: left;
	margin: 0;
    opacity: 0.7;
}
#blocks:hover {opacity:1;}
#blocks hr { width: 95%; float: left;}
.first_block { margin-left: 0px; }

.block_arrow_l { position: absolute; left: 0; top: 0; background: red; width: 40px; height: 313px; margin: 0 ; display: inline-block; line-height: 313px; opacity: 0;  z-index: 9;}
.block_arrow_r { position: absolute; right: 0; top: 0; background: red; width: 40px; height: 313px; margin: 0 ; display: inline-block; line-height: 313px; opacity: 0;  z-index: 9;}
.b_lefta { float: left; }
.b_righta { }
.block_arrow:hover {opacity: 1; cursor: pointer;}

.corn_block {	width: 251px; background: url(../images/corn_block.jpg) no-repeat;}
.rad_block { width: 251px; background: url(../images/rad_block.jpg) no-repeat;}
.fuzzy_block { width: 251px; background: url(../images/fuzz_block.jpg) no-repeat;}
.pi_block {	width: 501px; background: url(../images/pi_block.jpg) no-repeat;}
.maize_block {  width: 250px; background: url(../images/purp_block.jpg) no-repeat;}

/**End of block slider module**/

/**Inst_Twit Module**/
#inst_twit_module {margin: 0 0 20px 0; padding: 0 0 10px 0; border-bottom: 1px solid #999999;}
#inst {float: left; display: inline-block; width:50%;}
#twit {display: inline-block; width: 50%; }
#inst_twit_module h3 {margin-bottom: 20px;}
.twitter-timeline {padding-left: 15px;}
a:hover {text-decoration: underline;}
/**End of Inst_Twit module**/

/**Social Module**/
#social_module {background:#E6E6E6 ; margin: 0 0 20px 0; padding: 10px 0 10px 0; text-align: center;}
#social_module p {font-size: 2.5em; text-transform: uppercase; margin: 0 0 20px 0;}
#social_module a {font-size: 2em; text-transform: uppercase; margin: 0 20px 0 20px; font-weight: normal; }
#social_module a:hover {text-decoration: underline;}

/**End of social module**/


/**TABLES **/

table {margin: 0 0 0 28px; color:#FFF8be; width: 600px;  background-color: ; }
th {background-color: #b1382b; color: #FFF8be; font-weight: bold; padding:4px; text-align:left; }
td { padding:4px 4px 4px 4px; }
td.bold { font-weight: bold;}
td.dark { background-color: #252323; padding: 5px 5px 10px 10px; }
td.right h1{text-align:right; font-weight: normal;}
td a { float: right;  padding-right: 10px;}


tr { padding:2px;  }
tr.head {background-color: #b1382b; color: #FFF8be;  padding:2px;  height:100%;  text-align: center; border-left: 1px solid black; border-right: 1px solid black; }
tr.empty { padding:2px; height:30px;}
tr.last { border-bottom: none;}
tr.dark { background-color: #252323; padding: 2px; }

ul { margin-bottom: 12px; font-size: 1.2em;}
li.double {float: left; width: 50%;}
ul.bulleted { margin-bottom: 12px; margin-left: 30px; list-style-type: disc;}
ul.bulleted li {margin-bottom: 5px; font-size: 1.2em;}
ul.bulleted.less_top { margin-top: -8px; }
ul.piped { margin-bottom: 12px; }
ul.piped li { display: inline; border-right: 1px solid #aaa; padding: 0 5px; }
ul.piped li.first { padding-left: 0; }
ul.piped li.last { border: none; padding-right: 0; }
ul.errors { margin-bottom: 12px; margin-left: 10px; color: red; font-weight:bold; list-style-type: disc; width: 200px;}
ul.testimonial li { padding-bottom: 15px; }

ol { list-style-type: upper-alpha; padding-bottom: 1em; }
ol li { margin-left: 20px; }
ol.numeric { list-style-type: decimal; }

dt { color: #5e2996; font-weight: bold; margin-right: 1em; }
dd { display: inline; }


/** END CONTENT **/

/** FOOTER **/
#footer {
	min-width: 1090px ;
	margin: 0 auto 0px;
	text-align: center;
	background: #212121;
	border-top: ;
	font-weight: normal;
	font-size: 1.4em;
	padding: 30px 0 10px 0; 
}

#foot_column {
	display: inline-block;
	float: left;
	width: 300px;
	height: ;
}

#foot_menu ul {
    margin: 20px auto 20px ;
    width: 900px;
    padding: 0;
    font-size: 1.2em; 
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
}
#foot_menu ul li { padding: 0 10px 0 10px; text-align: left;}
#foot_menu ul li a { text-transform: uppercase; color: #fff; font-weight: normal; padding-left: 80px;}
#foot_menu ul li a:hover { text-decoration: none; color: #6AAB77; }
    
    
/** END FOOTER **/

/** FORMS **/

#form_labels {width: 30%; display: inline-block;  text-align: right;}
#form_inputs {width: 50%; display: inline-block; float: right;}

form { width: 620px; height: ; margin: 20px auto 20px; padding: 0px; }
input {   }
label {font-size: 1.4em;}
textarea {margin-top: 10px; float: right;}
textarea:focus, input:focus { border: 2px solid ;}
input.age {display:none;}

/** END FORMS **/

.quote { font-size: 1.1em; font-style:italic; }
.clearer { font-size: 0; line-height: 0; height: 0; clear: both; }
.clear { clear: both; }
.clear_l { clear: left; }
.float_l { float: left; }
.float_r { float: right; }
.align_r { text-align: right; }
.float_r_m { float: right; margin-left: 10px; }
.float_l_m { float: left; margin-right: 10px; }
.center_img { margin: 0 5px 0 5px; }
.clear_r { clear: right; }
.right { text-align: right; }
.center { text-align: center; }
.italic { font-style: italic; }
.bold {font-weight: bold; }
.big_ital { font-style:italic; font-size: 1.1em; }
.biggest { font-size: 1.6em; }
.big { padding: 0px; color: #1b1a19;}
.bigger { font-size: 1.2em; }
.small { font-size: 0.8em; color: #b1382b; text-align: right;}
.black { color: #111; }
.red { color: #ed4d4d; }
.green { color: #00f200 }
.right_img { float: right; margin: 5px 12px 5px 10px; box-shadow: 0px 5px 5px #333333;}
.left_img { float: left; margin: 5px 20px 5px 0px; }
.price {font-weight: bold; padding-bottom: 10px;}

/*General Mosaic Styles*/
.details {

    padding: 10px 5px 0 10px;
}
.details p {color: #fff; font-size: 1.2em; margin: 0 0 5px 0;} 
.details h4 {color: #fff; font-size: 1.6em; font-weight: bold; margin: 0 0 5px 0;}  


.mosaic-block {
	float:left;
	position:relative;
	overflow:hidden;
	width:;
	height:;
	margin-right:;
	background:;
	border:1px solid #fff;
	-webkit-box-shadow:0 1px 3px rgba(0,0,0,0.5);
}


	.mosaic-backdrop {
		display:none;
		position:absolute;
		top:0;
		height:100%;
		width:100%;
		background:#111;
	}
	
	.mosaic-overlay {
		display:none;
		z-index:5;
		position:absolute;
		width:99.7%;
		height:100%;
		background:#111;
	}
	
		/*** Custom Animation Styles (You can remove/add any styles below) ***/
		.circle .mosaic-overlay {
			background:url(../img/hover-magnify.png) no-repeat center center;
			opacity:0;
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=00)";
			filter:alpha(opacity=00);
			display:none;
		}
		
		.fade .mosaic-overlay {
			opacity:0;
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=00)";
			filter:alpha(opacity=00);
			background:url(../img/bg-black.png);
		}
		
		.bar .mosaic-overlay {
			bottom:-323px;
			height:323px;
			background:url(../img/bg-black.png);
		}
		
		.bar2 .mosaic-overlay {
			bottom:-50px;
			height:100px;
			opacity:0.8;
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
			filter:alpha(opacity=80);
		}
		
			.bar2 .mosaic-overlay:hover {
				opacity:1;
				-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
				filter:alpha(opacity=100);
			}
		
		.bar3 .mosaic-overlay {
			top:-100px;
			height:100px;
			background:url(../img/bg-black.png);
		}
		/*** End Animation Styles ***/
