/* mainstyle.css */

html
	{
	
background-color:darkorange;
	background-image: url("https://s11.postimg.org/qbcvihrdf/favicon.png");        
	background-position: 8px 8px;
	padding: 0px;
	margin: 0px       
    
}
	
body
	{
	background-color: white;
	color: rgb(20,20,20);
	width: 80%;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	font-family: sans-serif;
    border-radius: 5px;
		zoom:125%;
		
    
  
	}
	



img
{
float:right
}


 
   
h1 {
color: steelblue;
 text-align: left;
 font: bold 140% sans-serif;    
}

h2 
	{
text-align:  right;
    color: white;
	font-size: 14pt; 
	background-color: lightsteelblue;
	margin: px -50px 0px -50px;
	padding: 10px 50px;
    border-radius: 10px
	}
	
h3 { font-size: 12pt;
    text-align: left
    
}
h4 { font-size: 10pt;
    text-align: left;
    color:darkgoldenrod;
        
    
}
h5 { font-size: 10pt;
    text-align: left;
    color: darkred;
        
    
}

p, ol, ul { font-size: 14pt; }


nav
    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px ;
    background-color: white;
}

li {
    float: left;
    text-align: center;
    border-bottom:4px solid black;
    padding:5px;
    margin:3px;
   
    
}

li a {
    display: block;
    color: black;
    text-align: left;
   text-decoration: none;
    font: italic 100% calibri;
}

li a:hover:not(.active) {
    background-color: darkseagreen;
}

li a.active {
    color: black;
    background-color: white;
}

p { text-align: left;
    }

